:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Crimson Pro', serif;
  background-image: url(./assets/manateebackground2.jpeg);
  color:rgb(87, 245, 224)
}

.main-section {
  display: flex;
  flex-direction: row; 
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border: solid rgb(252, 51, 235) 10px;
  border-radius: 5px; 
  margin: 2rem;
  padding-left: 2rem;
  background: linear-gradient( rgb(181, 7, 187), rgb(17, 79, 194),rgb(17, 204, 173)); 
  box-shadow: 10px 5px 5px black;
}

.hello-world {
  font-size: 2.5rem;
  text-shadow: 2px 2px #FF0000;
}

.main-nav-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.main-nav-li {
  padding: 2rem;
  font-size: 2rem;
}

.main-nav-li a {
  text-decoration: none;
  color:rgb(87, 245, 224);
  text-shadow: 2px 2px #FF0000;
}

.paragraph {
  width: 50%;
  background: linear-gradient(rgb(17, 204, 173), rgb(17, 79, 194), rgb(181, 7, 187)); 
  padding: 1rem;
  font-size: 1.5rem;
  border: solid rgb(87, 245, 224) 0.5rem;
  border-radius: 5px;
  color: rgb(238, 232, 232);
  text-shadow: 1px 1px black;
  box-shadow: 10px 5px 5px black;
}

.manatee-pic {
  width: 40%;
  height: 40%;
  background: linear-gradient(rgb(17, 204, 173), rgb(17, 79, 194), rgb(181, 7, 187)); 
  padding: 1rem;
  border: solid  rgb(87, 245, 224) 0.5rem;
  border-radius:5px;
  box-shadow: 10px 5px 5px black;
}
.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0rem;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-section {
  display: flex;
  flex-direction: column;
  
}

.side-box {
  border: solid rgb(87, 245, 224) 10px;
  border-radius: 5px;
  padding: 0 10px;
  background: linear-gradient(rgb(17, 204, 173), rgb(17, 79, 194), rgb(181, 7, 187)); 
  margin: 1rem 0rem;
  color: rgb(238, 232, 232);
  text-align: center;
  box-shadow: 10px 5px 5px black;
}

.side-box-1-ul, .side-box-2-ul {
  text-decoration: none; 
  list-style: none;
  font-size: 1.5rem;
  color: rgb(238, 232, 232);
  text-shadow: 1px 1px black;
  
}

.side-box h2 {
  font-size: 2rem;
  color: rgb(238, 232, 232);
  text-shadow: 1px 1px black;
}

.faq-title {
  display: flex; 
  flex-direction: row;
  align-items: center;
  
}

.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.paragraph-faq {
  width: 100%;
  background: linear-gradient( rgb(181, 7, 187), rgb(17, 79, 194),rgb(17, 204, 173)); ; 
  padding: 0rem 12rem;
  font-size: 1.5rem;
  border: solid rgb(87, 245, 224) 0.5rem;
  color: rgb(238, 232, 232);
  text-shadow: 1px 1px black;
  margin: 1rem 0rem;
  text-align: center;
  box-shadow: 10px 5px 5px black;
}

#faq-header, caption{
  background: linear-gradient(rgb(17, 204, 173), rgb(17, 79, 194), rgb(181, 7, 187)); 
  padding: 3rem 1rem;
  font-size: 3rem;
  border: solid rgb(87, 245, 224) 0.5rem;
  color: rgb(238, 232, 232);
  text-shadow: 1px 1px black;
  margin: 1rem 0rem;
  text-align: center;
  box-shadow: 10px 5px 5px black;
}

a:hover {
  background: linear-gradient(red, orange, yellow, green, blue, violet);
  border: solid black 2px;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  box-shadow: 10px 5px 5px black;
}

a:active {
  background-color: rgb(243, 223, 223);
}

